body {
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

ul.topnav {
    font-family: Montserrat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #13322B;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}


ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

.dropdown {
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2691d9;
    font-weight: bold;
    margin-left: 150px;
}

.titulo {
    text-align: center;
}
.subtituloproceso {
    position: sticky;
    left: 150px;
    margin-left: 150px;
    text-align: justify;
}
.texto {
    position: sticky;
    margin-top: 20px;
    margin-bottom: 20px;
    font: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 100px;
}

.gv{
    margin-left:100px
}
.CalifCom {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 200px;
    margin-top: 20px
}

.instrucciones {
    margin-left: 100px;
    font-size: 20px;
}

