body {
    margin: 0;
}

ul.topnav {
    font-family: Montserrat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #13322B;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}


ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

.dropdown {
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2691d9;
    font-weight: bold;
}

.titulo {
    text-align: center;
}
.subtituloproceso {
    position: sticky;
    left: 150px;
    margin-left: 150px;
    text-align: justify;
}
.texto {
    position: sticky;
    margin-top: 20px;
    margin-bottom: 20px;
    font: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 100px;
}

.gv{
    margin-left:100px
}
.CalifCom {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 100px;
    margin-top: 20px
}

.instrucciones {
    margin-left: 100px;
    font-size: 20px;
}

